:root {
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

body {
    font-family: var(--font);
    background-color: #222;
    color: #ffffff;
    padding: 20px;
}

h1 {
    color: #FF5500;
    text-align: center;
}

p {
    margin-top: 30px;
    text-align: center;
}
